<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une API pour le Port de Plaisance Russell</title>
</head>
<body>

    <main>
        <h1> API pour le Port de Plaisance Russell</h1>
        <section id="LoginSection">
         <div>   
            <h2>Connexion</h2>
            <% if (error) { %>
            <p><%= error %></p>
            <% } %>
        <form id="loginForm" action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        
        <button type="submit">Se connecter</button>
       
        </form>
    </div> 
        </section>
        <script src="/javascripts/users.js"></script>
    </main>
    
</body>
</html>