<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une API pour le Port de Plaisance Russell</title>
    <meta name="description" content="Gestion des catways et des réservations du port de plaisance Russell.">

     <link rel="icon" type="image.png" href="images/favicon.png">
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>


    <body>

        <main>
            <section>
                <h1> API pour le Port de Plaisance Russell</h1>


                <p id="presentation">Cette application permet de gérer les catways et les réservations du port.
                    Elle permet de consulter, ajouter, modifier et supprimer des catways ainsi
                    que leurs réservations.</p>
            </section>


        <section id="LoginSection">  <!--formulaire de connexion--> 
                <h2>Connexion</h2>
                    <% if (error) { %><p><%= error %></p><% } %>
                    <form id="loginForm" action="/login" method="POST">
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Mot de passe" required>
        
                        <button type="submit">Se connecter</button>
       
                    </form>
                        <div id="documentation">
                            <a id="documentationbtn" href="/documentation">Voir la documentation</a>
                        </div>
        </section>
        
        </main>
        <footer>
            <small>© 2026 - Application Port de Plaisance Russell</small>
        </footer>
        <script src="/javascripts/user.js"></script>
    </body>
</html>