<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateurs</title>
    <meta name="description" content="Gestion des catways et des réservations du port de plaisance Russell.">

     <link rel="icon" type="image.png" href="images/favicon.png">
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/app/users">Utilisateur</a></li>
                <li><a href="/app/catways">Catways</a></li>
                <li><a href="/app/reservations">Réservation</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main> 
        
        <section><!--formulaire de creation utilisateur-->
            <h2>Utilisateurs</h2> 
                <h3>Créer un utilisateur</h3>

                <form action="/users" method="POST">
                    <input type="text" name="username" placeholder="Nom" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button type="submit">Créer</button>
                </form>
        </section>

        <section>
       <!--tableau liste utillisateur-->
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Nom</th>
                    <th>Email</th>  
                </tr>
            </thead>

            <tbody>
                <% users.forEach(userItem => { %>
                    <tr>
                        <td><a href="/app/users/<%= encodeURIComponent(userItem.email) %>">Voir</a></td>
                        <td><%= userItem.username %></td>
                        <td><%= userItem.email %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        </section>  
    </main>
    <footer>
        <small>© 2026 - Application Port de Plaisance Russell</small>
    </footer>
</body>
</html>