<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateurs</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/users">Utilisateur</a></li>
                <li><a href="/catways">Catways</a></li>
                <li><a href="/reservations">Réservation</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Users</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Nom</th>
                    <th>Email</th>
                    
                </tr>
            </thead>
            <tbody>
                <% users.forEach(userItem => { %>
                    <tr>
                      <td>
                            <a href="/users/<%= encodeURIComponent(userItem.email) %>">Voir</a>
                        </td>
                        <td><%= userItem.username %></td>
                        <td><%= userItem.email %></td>
                        
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <h2>Créer un utilisateur</h2>

        <form action="/api/users" method="POST">
            <input type="text" name="username" placeholder="Nom" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Créer</button>
        </form>
    </main>
</body>
</html>