/*css de base toute page*/

body {
    font-family: Arial, sans-serif;
    padding: 5px;
    background-color: #f4f4f4;
}

main {
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #3a8de6;
    font-size: 3em;
}


h2 {
    text-align: center;
    color: #3a8de6;
    font-size: 2em;
}

/*bouton retour*/

.back { 
    display: inline-block;
    margin-top: 20px;
    color: #0056b3;
    text-decoration: none;
}

.back:hover {
    color: black;
}

/*css navigation*/

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    gap: 20px;
    background: #3a8de6;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav ul li a:hover {
    background: #0056b3;
}

/*css tableaux*/

table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

th {
    padding: 10px;
    background: #eee;
    border: 1px solid black;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

/*css formulaire*/

select {
    padding: 8px 20px;
}

input{
    padding: 8px ;
}

button {
    padding: 8px 12px;
    margin: 2px;
    border: none;
    background: #3a8de6;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

/*css page index*/

#documentation {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#documentationbtn {
    color: black;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 5px;
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
}

#presentation {
    text-align: center;
}

#loginForm {
    display: flex;
    justify-content: center;
}

/*css footer*/

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background: #3a8de6;
    color: white;
}